<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Find Users
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" size-xl="6">
        <ion-searchbar debounce="300" placeholder="Search GitHub Users" (ionChange)="searchUser($event)"
          (ionClear)="clearValue()" [(ngModel)]="value"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="selectedUser$ | async as user">
      <ng-container *ngIf="user && value">

        <ion-row class="ion-justify-content-center">
          <ion-col size-lg="8" size-xl="6">


            <ion-card>

              <!-- User's Name and Login -->
              <ion-item lines="full">
                <ion-avatar slot="start">
                  <img [src]="user.avatar_url">
                </ion-avatar>
                <ion-card-header>
                  <ion-card-title *ngIf="user.name">{{ user.name }}</ion-card-title>
                  <ion-card-subtitle>{{ user.login }}</ion-card-subtitle>
                </ion-card-header>
              </ion-item>

              <!-- User's Bio -->
              <ion-card-content>
                <ion-item lines="none">
                  <ion-label class="ion-text-wrap">
                    <h2 *ngIf="user.bio">Bio</h2>
                    <ion-text [color]="user.bio ? 'dark' : 'medium'">
                      <p>
                        {{ user.bio || 'No Bio' }}
                      </p>
                    </ion-text>
                  </ion-label>
                </ion-item>

                <!-- User's Company -->
                <ion-item lines="none">
                  <ion-icon name="people" slot="start" size="small"></ion-icon>
                  <ion-label *ngIf="user.company; then ifCompany else notProvided"></ion-label>

                  <ng-template #ifCompany>
                    <ion-text>
                      <h3>{{ user.company }}</h3>
                    </ion-text>
                  </ng-template>

                  <ng-template #notProvided>
                    <ion-text color="medium">
                      <h4>Not Provided</h4>
                    </ion-text>
                  </ng-template>

                </ion-item>

                <!-- User's Location -->
                <ion-item lines="none">
                  <ion-icon name="pin" slot="start" size="small"></ion-icon>
                  <ion-label *ngIf="user.location; else notProvided">
                    <h3>{{ user.location }}</h3>
                  </ion-label>
                </ion-item>

                <!-- User's Email -->
                <ion-item lines="none" [detail]="user.email" [href]="user.email ? 'mailto:' + user.email : undefined">
                  <ion-icon name="mail" slot="start" size="small"></ion-icon>
                  <ion-label *ngIf="user.email; else notProvided">
                    <h3>{{ user.email }}</h3>
                  </ion-label>
                </ion-item>

                <!-- User's Blog (or Website) -->
                <ion-item lines="none" [detail]="user.blog" href (click)="openInAppBrowser($event, user.blog)">
                  <ion-icon name="link" slot="start" size="small"></ion-icon>
                  <ion-label *ngIf="user.blog; else notProvided">
                    <h3>{{ user.blog }}</h3>
                  </ion-label>
                </ion-item>

                <ion-row>
                  <ion-chip [appColorBreak]="user.public_repos >= 2">
                    <ion-label>
                      <h5>
                        Repositories <strong>{{user.public_repos}}</strong>
                      </h5>
                    </ion-label>
                  </ion-chip>
                  <ion-chip [appColorBreak]="user.public_gists > 5">
                    <ion-label>
                      <h5>
                        Gists <strong>{{user.public_gists}}</strong>
                      </h5>
                    </ion-label>
                  </ion-chip>
                  <ion-chip [appColorBreak]="user.followers >= 10">
                    <ion-label>
                      <h5>
                        Followers <strong>{{user.followers}}</strong>
                      </h5>
                    </ion-label>
                  </ion-chip>
                  <ion-chip [appColorBreak]="user.following >= 10">
                    <ion-label>
                      <h5>
                        Following <strong>{{user.following}}</strong>
                      </h5>
                    </ion-label>
                  </ion-chip>
                </ion-row>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>


      </ng-container>
    </ng-container>
  </ion-grid>
</ion-content>