<ion-header>
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <!-- value param when routed directly -->
  <!-- has debouce parameter for not rxjs required -->
  <!-- placeholder field -->
  <!-- (ion-change)="getUser($event)" -->
      <ion-searchbar 
      debounce="1000"
      placeholder="Search GitHub Users"
      (ionChange)="searchUser($event)"
      [(value)]="value"
      ></ion-searchbar>
  </ion-toolbar>

  <ng-container *ngIf="selectedUser$ | async as user">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ user.name }}</ion-card-title>
        <ion-card-subtitle>{{ user.login }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>

</ion-content>
