<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Browse Github Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8">
        <ion-card>
          <ion-list *ngFor="let user of users">
            <ion-item [routerLink]="['/tabs/tab2']" [queryParams]="{ search: user.login }">
              <ion-avatar slot="start">
                <img [src]="user.avatar_url" [alt]="'github avatar for user' + user.login">
              </ion-avatar>
              <ion-label>
                {{ user.login }}
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>